<%- include('header.ejs') %>

    <div class="main-container">
      <div class="date-container">
        <h1 class="title">About</h1>
      </div>
      <div class="container">
        <p>
          This is a simple to-do list application built with Node.js and Express.
        </p>
      </div>
      <div class="nav-buttons">
        <a href="/" class="nav-button">Home</a>
        <a href="/work" class="nav-button">Work</a>
        <a href="/about" class="nav-button">About</a>
      </div>
    </div>
    
<%- include('footer.ejs') %>